.badge {
    display: inline-block;
    min-width: 40px;
    padding: 4px 6px;
    font-size: $font-size-h6;
    line-height: 1;
    color: $font-alt-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 30px;
    margin-bottom: 2px;

}

.badge-default {
    background-color: rgba(255, 255, 255, 0.36);
    border-color: rgba(255, 255, 255, 0.38);
}

.badge-primary {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 10%);
}

.badge-inverse {
    background-color: $brand-inverse;
    border-color: darken($brand-inverse, 10%);
}

.badge-success {
    background-color: $brand-success;
    border-color: darken($brand-success, 10%);
}

.badge-info {
    background-color: $brand-info;
    border-color: darken($brand-info, 10%);
}

.badge-warning {
    background-color: $brand-warning;
    border-color: darken($brand-warning, 10%);
}

.badge-danger {
    background-color: $brand-danger;
    border-color: darken($brand-danger, 10%);
}
