//== Gray Shades
//## Different gray shades to be used for our variables and components
$gray-darker:                                       #222222;
$gray-dark:                                         #333333;
$gray:                                              #555555;
$gray-light:                                        #888888;
$gray-primary:                                      #D7D7D7;
$gray-lighter:                                      #EEEEEE;

//== Step 1: Brand Colors
$brand-default:                                     #666666;
$brand-primary:                                     #0595DB;
$brand-inverse:                                     #FFFFFF;
$brand-info:                                        #1F2E49;
$brand-success:                                     #76CA02;
$brand-warning:                                     #F99B1D;
$brand-danger:                                      #CC2200;

// Used for other variables
$default-border-color:                              $gray-primary;

//== Step 3: Typography
$font-family-import:                                "https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans:300,400,600,700";

$font-family-base:                                  "Open Sans", sans-serif;
$font-base-size:                                    16px;
$font-base-color:                                   #222222;
$font-alt-color:                                    #FFFFFF;
$link-color:                                        $brand-primary;
$font-size-h1:                                      42px;
$font-size-h2:                                      28px;
$font-size-h3:                                      22px;
$font-size-h4:                                      18px;
$font-size-h5:                                      16px;
$font-size-h6:                                      14px;
$font-color-detail:                                 $gray-light;
$font-color-headers:                                #222222;

$landing-size-large:                                48px;
$landing-size-small:                                36px;

// Font Weights
$font-weight-light:                                 100;
$font-weight-normal:                                400;
$font-weight-semibold:                              600;
$font-weight-bold:                                  bold;

// Button Background Color
$btn-default-bg:                                    transparent;

// Button Border Color
$btn-default-border-color:                          $gray-primary;

// Button Text Color
$btn-default-color:                                 $gray-dark;

// Button Background Color
$btn-default-bg-hover:                              #FFFFFF;

//== Step 2: UI Customization

// Topbar
$topbar-bg:                                         #0A1223;
$navtopbar-border-color:                            $default-border-color;
$topbar-border-color:                               $navtopbar-border-color;
$topbar-minimalheight:                              70px;
$navtopbar-color:                                   $font-base-color;
$navbar-brand-name:                                 $default-border-color;
$brand-logo:                                        false;
$brand-logo-height:                                 38px;
$brand-logo-width:                                  38px;

// Sidebar
$sidebar-bg:                                        rgba(10, 18, 35, 1);
$sidebar-secondary:                                 lighten($sidebar-bg, 7.5%);
$navsidebar-color:                                  #FFFFFF;
$navsidebar-color-hover:                            $navsidebar-color;

// Backgrounds
$bg-color:                                          #FFFFFF;
$bg-color-secondary:                                #F5F8FD;

// == Old variables used in theme customizer to the new lib variables
$font-size-default:                                 $font-base-size;
$font-color-default:                                $font-base-color;
$border-color-default:                              $default-border-color;
$font-color-header:				                    $font-color-headers;

// Listview
$listview-padding-top:                              10px;
$listview-padding-right:                            10px;
$listview-padding-bottom:                           10px;
$listview-padding-left:                             10px;

// Background Colors
$grid-bg:                                           #FFFFFF;
$grid-bg-header:                                    transparent; // Grid Headers
$grid-bg-hover:                                     #FFFFFF;
$grid-bg-selected:                                  #FFFFFF;
$grid-bg-selected-hover:                            #FFFFFF;

// Break points
$screen-xs:                                         480px;
$screen-sm:                                         768px;
$screen-md:                                         992px;
$screen-lg:                                         1200px;
