.mx-dataview {

    /* Control bar */
    .mx-dataview-controls {
        margin-top: 10px;
        padding: 8px 0;
        border-top: 0;

        @media(max-width: $screen-xs) {
            .btn {
                width: 100%;
                margin: 0 0 15px;
            }
        }
    }
}
