.dropzone {
    border-radius: 4px;
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: $bg-color-secondary;
    border: 2px dashed $brand-primary;

    &.dz-started {
        .dz-message {
            display: block;
        }
    }

    .dz-message {
        padding: 15px;
        width: 100%;
        margin: 0;
        order: 2;
        align-self: center;
    }

    .dz-preview {
        background: $gray-lighter !important;
        margin: 7.5px 7.5px 30px;
        height: 120px;
        width: 120px;

        .dz-image {
            border-radius: 0;
            background: transparent !important;

            img {
                object-fit: cover;
                object-position: center center;
            }
        }

        .dz-progress {
            border: 1px solid $gray-primary;

            .dz-upload {
                background: $brand-primary;
            }
        }

        .dz-success-mark {
            svg {
                path {
                    fill: $brand-success;
                }
            }
        }

        .dz-error-mark {
            svg {
                path {
                    fill: $brand-danger;
                }
            }
        }

        .dz-success-mark, .dz-error-mark {
            margin-top: -27px;
        }

        .dz-remove {
            width: 100%;
            padding: 10px;
            background: $gray-primary;
            position: absolute;
            bottom: -40px;
        }
    }
}
