.t-main {
    .help-message {
        position: relative;
        margin-top: 30px;
    }

    .message {
        animation: none;
    }
}

.help-message {
    position: fixed;
    bottom: 8px;
    right: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    @media only screen and (max-width:$screen-xs) {
        bottom: 20px;
    }
}

.chat-head {
    position: relative;
}

.img-chat-head {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center center;
    margin: 0;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: transform .5s linear;
}

.message {
    max-width: 280px;
    color: $font-alt-color;
    padding: 12px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .1);
    font-size: $font-size-h6;
    transform-origin: 100% 100% 0;
    position: relative;
    z-index: 1;
    transform: scale(1);
    transition: transform .5s linear;

    p {
        margin: 0;
    }

    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid $brand-info;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid $brand-info;
        right: -8px;
        bottom: 0px;
        z-index: 2;
    }
}

.help-message.inactive {
    .message {
        transform: scale(0);
    }
}
