.img-profile-sm {
    height: 35px !important;
    width: 35px !important;
    object-fit: cover;
    object-position: center center;
}

.img-profile-md {
    height: 80px !important;
    width: 80px !important;
    object-fit: cover;
    object-position: center center;
}

.img-profile-lg {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
    object-position: center center;
}

.img-border {
    border: 2px solid $bg-color-secondary;
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
}

img.fit-contain,
.fit-contain img {
    object-fit: contain !important;
}

img.fit-fill,
.fit-fill img {
    object-fit: fill !important;
}

img.fit-scale-down,
.fit-scale-down img {
    object-fit: scale-down !important;
}

img.fit-cover,
.fit-cover img {
    object-fit: cover !important;
}

img.fit-none,
.fit-none img {
    object-fit: none !important;
}

img.fit-scale-down,
.fit-scale-down img {
    object-fit: scale-down;
}

img.img-boxshadow,
.img-boxshadow img {
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
}

img.position-left-top,
.position-left-top img {
    object-position: left top !important;
}

img.position-left-center,
.position-left-center img {
    object-position: left center !important;
}

img.position-left-bottom,
.position-left-bottom img {
    object-position: left bottom !important;
}

img.position-right-top,
.position-right-top img {
    object-position: right top !important;
}

img.position-right-center,
.position-right-center img {
    object-position: right center !important;
}

img.position-right-bottom,
.position-right-bottom img {
    object-position: right bottom !important;
}

img.position-center-top,
.position-center-top img {
    object-position: center top !important;
}

img.position-center-center,
.position-center-center img {
    object-position: center center !important;
}

img.position-center-bottom,
.position-center-bottom img {
    object-position: center bottom !important;
}
