.center-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100%;
    position: relative;
    background-color: $bg-color-secondary;

    .mx-dataview-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;

        @media (max-width: $screen-xs) {
            .btn {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.mx-layoutgrid.layoutgrid-flex {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
        display: none;
    }

    >.row {
        display: flex;
        margin-right: 0;
        margin-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;

        &:before, &:after {
            display: none;
        }

        >div[class*="col-"] {
            padding-left: 15px;
            padding-right: 15px;
        }

        .finance-column {
            visibility: hidden;
        }
    }

    &.mx-layoutgrid-fixed {
        max-width: $screen-sm;
    }

    &.layoutgrid-flexcenter {
        >.row {
            align-items: center;
            align-content: center;
        }
    }
}
