.pageheader {
    border-bottom: 0;
    background-color: transparent;
}

.pageheader-subtitle {
    font-weight: $font-weight-normal;
    color: $gray;
    font-size: $font-size-h4;
}

.pageheader-user {
    @media (max-width: $screen-xs) {
        .flexcontainer {
            flex-direction: column;
            text-align: center;

            >.flexitem {
                margin-right: 0;

                &.flexitem-main {
                    order: 2;
                }
            }
        }

        img {
            margin: 15px 0;
        }
    }
}
