.radiobutton-cards {
    margin: 0 0 15px;

    .mx-radiogroup {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
        padding: 0 15px;
    }

    .radio {
        width: 160px;
        height: 160px;
        display: block !important;
        margin: 0 7.5px;

        @media (max-width: $screen-sm) {
            flex: 1 1 300px;
            height: 60px;
        }

        label {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            position: relative;
            background: $gray-lighter;
            padding: 15px;
            border: 2px solid $border-color-default;
            border-radius: 12px;
            font-weight: $font-weight-semibold;


            &:before {
                margin-top: 30px;
                order: 2;
                transition: border-width .1s, box-shadow .2s;
            }

            @media (max-width: $screen-sm) {
                flex-direction: row;
                justify-content: left;
                margin-left: 0;
                margin-right: 0;
            }
        }

        input[type=radio] {
            opacity: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            top: 0;
            left: 0;
            z-index: 1;
            position: absolute !important;
            font-size: $font-size-h5;
            transition: all 1s ease;

            &::before, &::after {
                display: none;
                content: none;
            }

            &:checked+label {
                background: $bg-color;
                border-color: $brand-primary;
                box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
            }

            &:checked+label:before, &:not(:checked)+label:before {
                content: '';
                position: relative;
                bottom: 15px;
                width: 30px;
                height: 30px;
                border: 15px $bg-color solid;
                box-shadow: 0 0 0 2px $gray-primary;
                border-radius: 50%;

                @media (max-width: $screen-sm) {
                    right: 0;
                    top: 0;
                    margin: 0;
                    position: absolute;
                }
            }

            &:checked+label:before {
                border-width: 5px;
                background: $brand-primary;
            }
        }
    }
}

.radio-group {
    .hide-formcontrol {
        display: none;
    }

    &.has-error {
        .radio-inline {
            color: $font-base-color;
            border-color: $brand-danger;
        }

        .mx-validation-message {
            margin: 0 auto;
            text-align: center;
        }
    }
}
