h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    margin: 0;
}

h1, .h1 {
    @media (max-width: $screen-sm) {
        font-size: $font-size-h2;
    }
}

h2, .h2 {
    @media (max-width: $screen-sm) {
        font-size: $font-size-h3;
    }
}

h3, .h3 {
    @media (max-width: $screen-sm) {
        font-size: $font-size-h4;
    }
}
